---
import { Icon } from "astro-icon";
import Date from "@/components/date.astro";
import Heading from "@/components/heading.astro";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"post">;
};

const { post } = Astro.props;
const { remarkPluginFrontmatter: frontmatter } = await post.render();
---

<div class="not-prose">
  <Heading
    as="h1"
    type="title"
    transition:name={`${post.slug}.title`}
    class="mb-3 text-center lg:text-left"
  >
    {post.data.title}
  </Heading>
  <p
    class="font-semibold text-center lg:text-left"
    class:list={{ "mb-10": !post.data.tags.length }}
  >
    <Date date={post.data.publishedDate} /> /{" "}
    {frontmatter.minutesRead}
  </p>
  {
    post.data.tags.length && (
      <div class="flex flex-col lg:flex-row gap-3 mt-3 mb-10 items-center">
        <Icon name="tabler:tags" class="w-6 flex-none hidden lg:block" />
        <ul class="flex items-center">
          {post.data.tags.map((tag, i) => (
            <li class="flex">
              <a
                href={`/tags/${tag}/`}
                class="inline-block link-dotted before:content-['#']"
                aria-label={`View more blogs with the tag ${tag}`}
              >
                {tag}
              </a>
              {i < post.data.tags.length - 1 && ", "}
            </li>
          ))}
        </ul>
      </div>
    )
  }
</div>
