---
import { Icon } from "astro-icon";
import Date from "@/components/date.astro";
import Heading from "@/components/heading.astro";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"post">;
};

const { post } = Astro.props;
const access_token = Astro.cookies.get("access-token");
const { remarkPluginFrontmatter: frontmatter } = await post.render();
---

<div class="not-prose">
  <Heading
    as="h1"
    type="title"
    transition:name={`${post.slug}.title`}
    class="mb-3 text-center lg:text-left flex gap-4"
  >
    {
      !!access_token?.value && (
        <a
          href={`/admin/post/edit/${post.slug}`}
          class="transition-colors flex-none mt-2 hover:bg-accent-100 hover:text-neutral-100 h-8 w-8 rounded-full p-1 border-2 border-accent-100 text-accent-100"
        >
          <Icon name="ic:outline-edit" />
        </a>
      )
    }
    <span class="flex-1">{post.data.title}</span>
  </Heading>
  <p
    class="font-semibold text-center lg:text-left"
    class:list={{ "mb-10": !post.data.tags.length }}
  >
    <Date date={post.data.publishedDate} /> /{" "}
    {frontmatter.minutesRead}
  </p>
  {
    post.data.tags.length && (
      <div class="flex flex-col lg:flex-row gap-3 mt-3 mb-10 items-center">
        <Icon name="tabler:tags" class="w-6 flex-none hidden lg:block" />
        <ul class="flex items-center">
          {post.data.tags.map((tag, i) => (
            <li class="flex">
              <a
                href={`/posts/tagged/${tag}/`}
                class="inline-block link-dotted before:content-['#']"
                aria-label={`View more blogs with the tag ${tag}`}
              >
                {tag}
              </a>
              {i < post.data.tags.length - 1 && ", "}
            </li>
          ))}
        </ul>
      </div>
    )
  }
</div>
