---
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
const linkClasses = "block px-1 transition-colors link line-clamp-2";
---

<aside
  class="sticky top-36 hidden order-2 w-full min-w-[200px] h-max lg:flex flex-col items-center"
>
  <h2 class="font-semibold pl-2">Table of Contents</h2>
  <ul class="mt-4 pl-6 text-sm list-['#_'] marker:text-accent-100">
    {
      headings
        .filter((h) => h.depth === 2)
        .map((heading) => (
          <li class="mb-2">
            <a
              class={linkClasses}
              href={`#${heading.slug}`}
              aria-label={`Scroll to section: ${heading.text}`}
            >
              {heading.text}
            </a>
          </li>
        ))
    }
    <li class="mb-2 list-['ðŸ¿']">
      <a
        href="#comments"
        class={linkClasses}
        aria-label="Scroll to comments section"
      >
        Comments
      </a>
    </li>
  </ul>
</aside>
