---
import "@/styles/global.css";

import "@fontsource/ibm-plex-mono/400.css";
import "@fontsource/ibm-plex-mono/600.css";
import "@fontsource/ibm-plex-mono/400-italic.css";
import "@fontsource/ibm-plex-mono/600-italic.css";

import me from "@/assets/og.jpg";
import { siteConfig } from "@/config";
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";
import SkipLink from "@/components/skip.astro";
import { ViewTransitions } from "astro:transitions";

const {
  back,
  type,
  title,
  published,
  ignore = false,
  splash = false,
  description = siteConfig.description,
} = Astro.props;

const cannonical = new URL(Astro.url.pathname, Astro.site);
const metaTitle = !title ? siteConfig.title : `${title} • ${siteConfig.title}`;
---

<html
  lang={siteConfig.locale}
  class:list={{
    "bg-neutral-100": true,
    "bg-gradient-to-b": true,
    "from-transparent": true,
    "via-transparent": true,
    "to-accent-100/5": true,
  }}
>
  <head>
    <title>{metaTitle}</title>
    <link rel="cannonical" href={cannonical} />
    <link
      rel="webmention"
      href="https://webmention.io/www.afreidz.codes/webmention"
    />

    <link rel="icon" type="image/png" href="/icon.png" />

    <meta charset="utf-8" />
    <meta name="title" content={metaTitle} />
    <meta name="author" content={siteConfig.author} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content={description} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <meta
      prefix="og: http://ogp.me/ns#"
      property="og:title"
      content={metaTitle}
    />

    {
      type && (
        <meta
          prefix="og: http://ogp.me/ns#"
          property="og:type"
          content={type}
        />
      )
    }

    {
      type === "article" && (
        <meta
          prefix="og: http://ogp.me/ns/article#"
          property="article:published_time"
          content={published}
        />
      )
    }

    <meta
      prefix="og: http://ogp.me/ns#"
      property="og:url"
      content={cannonical}
    />
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content={me.src} />

    <ViewTransitions fallback="none" />
  </head>
  <body
    class=`
    flex
    flex-1
    mx-auto
    text-lg
    flex-col
    max-w-5xl
    font-normal
    antialiased
    text-default
    min-h-screen
    smooth-scroll
    items-stretch
    tracking-tight
    selection:bg-accent-300/60
  `
    data-pagefind-ignore={ignore}
  >
    <SkipLink />
    {splash && <div class="absolute inset-0 bg-grid" />}
    {!splash && <Header {back} />}
    <slot />
    {!splash && <Footer />}
  </body>
</html>
