---
import "@/styles/global.css";
import "@fontsource/space-grotesk/300.css";
import "@fontsource/space-grotesk/600.css";
import "@fontsource/space-grotesk/700.css";

import "@fontsource/ibm-plex-mono/400.css";
import "@fontsource/ibm-plex-mono/600.css";
import "@fontsource/ibm-plex-mono/400-italic.css";
import "@fontsource/ibm-plex-mono/600-italic.css";

import "@fontsource/nunito/200.css";
import "@fontsource/nunito/400.css";
import "@fontsource/nunito/600.css";
import "@fontsource/nunito/700.css";
import "@fontsource/nunito/200-italic.css";
import "@fontsource/nunito/400-italic.css";
import "@fontsource/nunito/600-italic.css";
import "@fontsource/nunito/700-italic.css";

import { siteConfig } from "@/config";
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";
import SkipLink from "@/components/skip.astro";
import { ViewTransitions } from "astro:transitions";

const {
  title,
  socialImage,
  description = siteConfig.description,
} = Astro.props;

const metaTitle = `${title} • ${siteConfig.title}`;
const cannonical = new URL(Astro.url.pathname, Astro.site);
// const socialImageUrl = new URL(socialImage ?? "/404", Astro.url).href;
---

<html lang={siteConfig.locale} class="dark">
  <head>
    <title>{metaTitle}</title>
    <link rel="cannonical" href={cannonical} />
    <link
      rel="webmention"
      href="https://webmention.io/www.afreidz.codes/webmention"
    />

    <meta charset="utf-8" />
    <meta name="title" content={metaTitle} />
    <meta name="author" content={siteConfig.author} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content={description} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <ViewTransitions fallback="none" />
  </head>
  <body class="flex flex-1 flex-col px-6 max-w-4xl items-stretch">
    <SkipLink />
    <Header />
    <main id="main" class="contents">
      <slot />
    </main>
    <Footer />
  </body>
</html>
