---
import Icon from "astro-icon";
import Giscus from "@giscus/svelte";
import Hero from "@/components/hero.astro";
import type { MarkdownHeading } from "astro";
import BaseLayout from "@/layouts/base.astro";
import PostNav from "@/components/postNav.svelte";
import TOC from "@/root/src/components/toc.svelte";
import type { CollectionEntry } from "astro:content";

type Props = {
  headings: MarkdownHeading[];
  post: CollectionEntry<"post">;
};

const { post, headings } = Astro.props;
---

<BaseLayout
  type="article"
  title={post.data.title}
  description={post.data.description}
  published={post.data.updatedDate || post.data.publishedDate}
>
  <main id="main" class="flex-1 lg:flex">
    <aside class="flex-1 order-2 flex flex-col-reverse justify-between m-4">
      <PostNav client:only toc={headings}>
        <Icon name="ic:baseline-arrow-back" slot="home" />
        <Icon name="ic:baseline-arrow-upward" slot="top" />
        <Icon name="ic:baseline-toc" slot="toc" />
      </PostNav>
      {
        !!headings.length && (
          <div class="sticky top-36 hidden w-full min-w-[200px] h-max lg:flex flex-col items-center">
            <TOC {headings} client:load />
          </div>
        )
      }
    </aside>
    <article
      data-pagefind-body
      class="prose contents lg:block lg:prose-lg prose-custom prose-headings:tracking-tighter prose-headings:font-bold prose-headings:text-gradient-100 pb-20"
    >
      <Hero {post} />
      <slot />
      {
        import.meta.env.MODE !== "development" && (
          <div class="my-10">
            <Giscus
              categoryId="DIC_kwDOKiA5os4CaPdb"
              category="Blog Post Comments"
              repo="afreidz/afreidz.codes"
              theme="transparent_dark"
              repoId="R_kgDOKiA5og"
              reactionsEnabled="1"
              inputPosition="top"
              mapping="pathname"
              emitMetadata="1"
              id="comments"
              client:idle
              strict="0"
              lang="en"
            />
          </div>
        )
      }
    </article>
  </main>
</BaseLayout>
